{% extends 'components/base-fragment.html' %}
{% import 'functions.html' as funcs %}

{% set is_current_user = session.user_session and session.user_session.uid == user.id %}

{% set button_mode = 'delete' if is_following else 'post' %}

{% block content %}
<div id="followinfo" hx-target="this">
    <span class="big"><b>{{ user.seguidos }}</b></span>
    <a href="{{ url_for('web.usuarios', user_filter='following') }}" hx-target="body">Siguiendo</a>
    <br>
    <span class="big"><b>{{ user.seguidores }}</b></span>
    <a href="{{ url_for('web.usuarios', user_filter='followers') }}" hx-target="body">Seguidores</a>
    <br>
    {% if not is_current_user and logged_in %}
    <button class="button {{ 'active' if is_following }}" hx-{{ button_mode }}="/follow?id={{ user.id }}">
        <span class="t">{{ 'Siguiendo' if is_following else 'Seguir' }}</span>
        <span class="indicator {{ 'hidden' if not is_following}}">
            <span class="material-icons md-18">check</span>
        </span>
    </button>
    {% endif %}
</div>

{% endblock %}