{% extends 'components/base-fragment.html' %}
{% import 'functions.html' as funcs %}

{% block content %}
{{ funcs.pagination('search', 'top', page, SCORES_PER_PAGE, score_count) }}
<div class="table-container">
    <table>
        <thead hx-preserve>
            <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Puntuación</th>
                <th>Tiempo</th>
            </tr>
        </thead>
        <tbody hx-target="#main" hx-select="#main" hx-swap="outerHTML show:window:top" hx-push-url="true">
            {% for data in scorelist %}
            <tr class="clickable" hx-get="/puntuacion" hx-vals='{
                        "id": {{ data.id }}
                    }'
                >
                <td>{{ ((page - 1) * SCORES_PER_PAGE) + loop.index }}</td>
                <td>{{ data.nombre_usuario }}</td>
                <td>{{ '{:{date_format}}'.format(data.fecha, date_format=funcs.date_format_short) }}</td>
                <td class="mono-num">{{ (data.puntuacion | string).rjust(8) }}</td>
                <td class="mono-num">{{ funcs.pretty_time(data.tiempo) }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="99">No hay resultados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ funcs.pagination('search', 'bottom', page, SCORES_PER_PAGE, score_count) }}
{% endblock %}