{% extends 'components/base-fragment.html' %}
{% import 'functions.html' as funcs %}

{% block content %}
{{ funcs.pagination('search', 'top', page, USERS_PER_PAGE, user_count) }}
<div class="table-container">
    <table>
        <thead hx-preserve>
            <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Partidas</th>
                <th>Mejor puntuación</th>
                <th>Puntos totales</th>
            </tr>
        </thead>
        <tbody hx-target="#main" hx-select="#main" hx-swap="outerHTML show:window:top" hx-push-url="true">
            {% for data in userlist %}
            <tr class="clickable" hx-get="/usuario" hx-vals='{
                "name": {{ data.nombre | tojson }} }'
                >
                <td>{{ loop.index }}</td>
                <td>{{ data.nombre }}</td>
                <td class="mono-num">{{ (data.numero_puntuaciones | string).rjust(5) }}</td>
                <td class="mono-num">{{ (data.puntuacion_maxima | string).rjust(8) }}</td>
                <td class="mono-num">{{ (data.puntuacion_total | string).rjust(15) }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="99">No hay resultados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ funcs.pagination('search', 'bottom', page, USERS_PER_PAGE, user_count) }}
{% endblock %}