# JS
node_modules

# Python
.venv
__pycache__/
*.py[cod]

# Other
.vscode/settings.json
templates/b.html
log/
test-headers.txt
servidor.bak/
.env

dist/
static/main-compiled.js
static/main-compiled.js.map
