body {
    margin: 0;
    background-color: #222222;
    max-height: 100dvh;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-color: #444444 gray;
    --scale: 1.0;
}

/* #region Scrollbar */

*::-webkit-scrollbar-thumb {
    background-color: gray;
    border-color: #222222;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
}
*::-webkit-scrollbar-track {
    background-color: #333333;
    border-radius: 8px;
}
*::-webkit-scrollbar {
    background-color: #222222;
    width: 8px;
    height: 8px;
}

/* #endregion Scrollbar */

* {
    user-select: none;
}

#game-area {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100svh;
    max-width: 100svw;
}


#game-view {
    background-color: black;
    /* min-height: 100dvh; */
    /* margin: auto; */
    overflow: hidden;
    position: relative;
    touch-action: none;
}

img {
    image-rendering: pixelated;
    display: block;
}

#entities {
    pointer-events: none;
}

#entities > * {
    z-index: 5;
    position: absolute;
    width: calc(64px * var(--scale));
    height: calc(64px * var(--scale));
    pointer-events: none;
    display: block;
}

#entities > * > img {
    width: 100%;
    height: 100%;
    position: absolute;
    /* object-fit: scale-down; */
    object-position: center center;
    transform: scaleX(var(--flip, 1));
}

/* #region Messages Box */

#messages {
    position: fixed;
    max-width: 90dvw;
    width: fit-content;
    background-color: rgba(0, 0, 0, 60%);
    padding: 0.5em;
    pointer-events: none;
    z-index: 99;
}

@media (orientation: landscape) {
    #messages {
        left: var(--messages-offset, 0px);
        bottom: 0px;
    }
}
@media (orientation: portrait) {
    #messages {
        left: 0px;
        bottom: var(--messages-offset, 0px);
    }
}

#messages:empty {
    display: none;
}

.message {
    /* font-size: larger; */
    color: white;
    user-select: none;
    pointer-events: none;
    font-weight: 500;
    font-size: 15px;
}

.message.low {
    color: #aaaaaa;
}

.message.warning,
.message.yellow {
    color: #ffff33;
}

.message.important,
.message.red {
    color: #ff6666;
}

.message.success,
.message.green {
    color: #66ff66;
}

.message.blue {
    color: #6699ff;
}

/* #endregion Message Box */

.hud {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    color: white;
    padding: 0.25em 0.3em;
}

.hud > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.indicator {
    text-align: center;
    font-weight: bold;
}

.health-indicator {
    color: hsl(calc(120 * var(--hp)) 100% 60%);
    min-width: 7ch;
}
#health-indicator-value {
    font-variant: tabular-nums;
}

.inspect-button.active {
    text-shadow: #eeeeee 0px 0px 5px;
}

/* #region Material Icons */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons {
    vertical-align: text-bottom;
}

/* #endregion Material Icons */

/* #region Dialog */

dialog {
    border: 1px solid grey;
    min-width: min(95dvw, 20em);
    max-width: min(95dvw, 40em);
    max-height: 90dvh;
    padding: 0rem;
    line-height: 1.333;

    background-color: #222222;
    color: whitesmoke;
}

.dialog-window {
    display: flex;
    flex-direction: column;
    max-height: 89dvh;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.25);
}

.dialog-titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    background-color: #444444;
    overflow: hidden;
    flex: 0 0;
}

.dialog-title {
    color: whitesmoke;
    padding: 0.5rem 0.5rem;
}

.dialog-close {
    background-color: #770000;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 2.5em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dialog-close:hover {
    background-color: #aa0000;
}

.dialog-body {
    padding: 0.5rem 0.5rem 1rem;
    overflow: auto;
    /* max-height: 80dvh; */
    flex: 1 1;
}

/* #endregion Dialog */

/* #region Map */

#map {
    z-index: -5;
    transform-origin: top left;
    transform: scale(var(--scale));
}

#map-table {
    position: relative;
    border-collapse: collapse;
    border-spacing: 0px;
    z-index: -4;
    background-color: #888;
}

#map-table td {
    padding: 0px;
    border-width: 0px;
}

#map-table div {
    min-width: 64px;
    min-height: 64px;
    border-width: 0px;
    padding: 0px;
}

#map-table * {
    pointer-events: none;
}

#map-table tr:nth-child(odd) td:nth-child(odd) div,
#map-table tr:nth-child(even) td:nth-child(even) div {
    background: rgba(0, 0, 0, 0.2);
}

#map-table div.solid {
    background: rgba(255, 0, 0, 0.2) !important;
}

/* #endregion Map */

/* #region UI elements */

button {
    appearance: none;
    border: 0px;
    padding: 0.5em 1em;
    margin: 0.5em 0.1em;
    font-weight: bold;
    color: white;
    background-color: #444444;
    cursor: pointer;
}

button:disabled {
    color: #aaaaaa;
    background: #333333;
    cursor: default;
}

button.active {
    background-color: #005555;
}

button:hover:not(:disabled) {
    background-color: #226666;
}

/* #endregion UI elements */

/* #region Utility */

.clickable {
    cursor: pointer;
}


.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

hr {
    border-color: #777777;
    width: 90%;
    border-width: thin;
    border-style: solid;
}

small, .small {
    font-size: small;
}

big, .big {
    font-size: larger;
}

.hidden {
    display: none;
}

.mono-num {
    font-family: monospace;
    font-size: larger;
    white-space: pre;
}

.flex {
    display: flex;
}

.center {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.column {
    flex-direction: column;
}

.with-gap {
    gap: 0.5rem;
}

.with-space-after {
    margin-bottom: 0.5rem;
}

.centered {
    text-align: center;
}

/* #endregion Utility */

/* #region Bars */

.bar {
    height: var(--bar-height, 4px);
    background-color: var(--bar-background, red);

    border: var(--bar-border, 0px) solid var(--bar-border-color, #888888);
}

.bar > .bar-fill {
    width: calc(100% * var(--bar-value));
    max-width: 100%;
    height: 100%;
    background-color: var(--bar-color, limegreen);
}

.hp-bar {
    --bar-background: red;
    --bar-color: limegreen;
    --bar-value: var(--hp);
}

/* #endregion Bars */

.inventory-card {
    margin: 0.2rem 0rem;
    padding: 0.2rem;
    border: 1px solid #888888;
    border-radius: 0.5rem;
}

.inventory-header {
    margin: 0.5rem auto 0.5rem;
}

.info-icon {
    width: 5em;
    margin: 0.5rem;
}

@media (orientation: landscape) {
    #game-area {
      flex-direction: row;
    }
    .hud, .hud > div {
        flex-direction: column;
    }
}  
