/* || Main */
:root {
    --black-1: hsl(60, 100%, 0%);
    --black-2: hsl(60, 100%, 4%);
    --black-3: hsl(60, 100%, 8%);
    --black-4: hsl(60, 100%, 12%);
    --black-5: hsl(60, 100%, 16%);

    --white-1: hsl(60, 100%, 80%);
    --white-2: hsl(60, 100%, 90%);
    --white-3: hsl(60, 100%, 100%);

    --yellow-1: hsl(60, 100%, 10%);
    --yellow-2: hsl(60, 100%, 20%);
    --yellow-3: hsl(60, 100%, 30%);
    --yellow-4: hsl(60, 100%, 40%);
    --yellow-5: hsl(60, 100%, 50%);
    --yellow-6: hsl(60, 100%, 60%);
    --yellow-7: hsl(60, 100%, 70%);

    --cyan-1: hsl(180, 100%, 10%);
    --cyan-2: hsl(180, 100%, 20%);
    --cyan-3: hsl(180, 100%, 30%);
    --cyan-4: hsl(180, 100%, 40%);
    --cyan-5: hsl(180, 100%, 50%);
    --cyan-6: hsl(180, 100%, 60%);
    --cyan-7: hsl(180, 100%, 70%);

    --red-1: hsl(0, 100%, 10%);
    --red-2: hsl(0, 100%, 20%);
    --red-3: hsl(0, 100%, 30%);
    --red-4: hsl(0, 100%, 40%);
    --red-5: hsl(0, 100%, 50%);
    --red-6: hsl(0, 100%, 60%);
    --red-7: hsl(0, 100%, 70%);

    --background-color: var(--black-1);
    --foreground-color: white;
    --accent-color: cyan;
    --accent-color-highlight: rgb(133, 255, 255);
}

body {
    margin: 0;
    background: repeating-linear-gradient(
        black,
        hsl(60, 100%, 5%),
        hsl(180, 100%, 5%),
        black
        );
    color: var(--foreground-color);
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    max-width: 60em;
    margin: 1em auto;
    padding: 1em;
    background-color: var(--black-2);
    border: 2px solid var(--black-4);
    border-radius: 2em;
    box-shadow: var(--black-4) 0em 0em 20px;
    line-height: 1.333;
}

/* || Navbar */

nav {
    background-color: var(--black-4);
    border-width: 0 0 3px;
    border-color: var(--yellow-5);
    border-style: solid;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1em;
    z-index: 3;
    
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--foreground-color);
    padding: 0.25em;
    display: block;
}

nav > div {
    display:  flex;
    flex-direction: row;
    gap: 0.5em;
    padding-inline: 0;
}

.navseparator {
    border-color: var(--yellow-4);
    border-style: solid;
    border-width: 0 0 0 2px;
}



#nav-toggle {
    display: none;
    font-weight: bold;
}

#navmenu * {
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    #nav-toggle {
        display: block;
    }
    #navmenu {
        background-color: var(--black-4);
        position: static;
        display: none;
        flex-direction: column;

        border-width: 0 3px 3px 0;
        border-color: var(--yellow-5);
        border-style: solid;
        border-bottom-right-radius: 1.5em;
    }
    #navmenu.open {
        display: flex;
        position: absolute;
        left: 0;

        padding: 0.75em;
    }
    .navseparator {
        border-width: 2px 0 0 0;
    }
}

.appicon {
    max-width: 10em;
    border-radius: 1em;
    border: 3px solid yellow;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.button {
    background: var(--yellow-1);
    color: var(--white-3);
    border-radius: 1em;
    border: 2px solid var(--yellow-2);
    padding: 0.5em 1em;
    margin: 0.5em 0.1em;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.button.active {
    background: var(--yellow-4);
    color: var(--black-1);
}

.button:hover {
    background: var(--yellow-2);
}

.button.active:hover {
    background: var(--yellow-6);
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

small, .small {
    font-size: small;
}

big, .big {
    font-size: larger;
}

.clickable {
    cursor: pointer;
}

table {
    width: 100%;
    margin: 1em auto;
}

.mono-num {
    font-family: monospace;
    font-size: larger;
    white-space: pre;
}

.float-right {
    float: right;
    text-align: right;
}

tbody tr:hover {
    background: var(--cyan-2);
}

tbody tr:nth-child(odd):not(:hover) {
    background: var(--black-3);
}

th {
    font-weight: bold;
    font-size: large;
    border-bottom: 3px solid var(--black-5);
    position: sticky;
    top: 0;
    background-color: var(--black-2);
}

table {
    border-spacing: 0;
    border: 1px solid var(--black-5);
    overflow-x: scroll;
    background-color: var(--black-2);
    border-collapse: collapse;
}

td {
    padding: 0.4em;
    text-align: center;
    border-right: 2px solid var(--black-5);
    border-left: 2px solid var(--black-5);
}

.card {
    border: 3px solid var(--cur-border, var(--black-5));
    background-color: var(--cur-back, var(--black-3));
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-items: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.centered {
    text-align: center;
}

input[type=text]{
    background: var(--black-1);
    border: 2px solid grey;
    border-radius: 1em;
    color: var(--white-3);
    margin: 0.2em;
    padding: 0.3em 0.6em;
}

.alert {
    --cur-back: var(--red-1);
    --cur-border: var(--red-5);
}

.input-block {
    margin: 1em 0;
    text-align: left;
}

.input-block label {
    margin-left: 1em;
    display: block;
}

a {
    color: var(--cyan-5);
}
