{% extends 'components/base.html'%}

{% block title %}Acerca de{% endblock title %}

{% block content %}
    <div class="center column card">
        <h1>RogueTech</h1>
        <h3>v1.0.0</h3>
        <img src="{{ url_for('static', filename='main-icon.png')}}"
        alt="Icono del juego: Un dibujo minimalista de un procesador blanco con trazos de colores amarillo, cyan y azul saliendo de este"
        class="appicon"/>
        <p>
            RogueTech es un juego RPG roguelike para navegadores, con funciones competitivas entre jugadores mediante calificaciones en línea.
        </p>
    </div>
    <div class="center column">
        <a class="block" href="https://github.com/mamg22/RogueTech/blob/main/LICENSE">
            Licencia de código abierto
        </a>
        <a class="block" href="https://github.com/mamg22/RogueTech/tree/main">
            Código fuente
        </a>
    </div>
{% endblock content %}
