{% extends 'components/base.html'%}

{% block title %}Crear cuenta{% endblock title %}

{% block content %}
    <h1 class="center">Crear cuenta</h1>
    <div class="center column">
        <form class="center column" method="post">
            <div class="input-block">
                <label for="nombre">Nombre de usuario:
                {% call funcs.help_icon() %}
Su nombre de usuario solo podrá contener carácteres alfanuméricos y guiones bajos (_)
                {% endcall %}
                </label>
                <input type="text" name="nombre" id="nombre" class="big"
                autocomplete="username">
            </div>
            
            <div class="input-block">
                <label for="clave">Contraseña:
                {% call funcs.help_icon() %}
Su contraseña debe contener al menos lo siguiente:

* Una letra minúscula
* Una letra mayúscula
* Un número
* Un símbolo
* Debe tener al menos 8 carácteres
                {% endcall %}
                </label>
                <input type="password" name="clave" id="clave" class="big"
                autocomplete="new-password">
            </div>
            
            <div class="input-block">
                <label for="claveconf">Confirmar contraseña:
                {% call funcs.help_icon() %}
Repita su contraseña
                {% endcall %}
                </label>
                <input type="password" name="claveconf" id="claveconf" class="big"
                autocomplete="new-password">
            </div>
            
            <div class="input-block">
                <label for="pin">Pin de seguridad:
                {% call funcs.help_icon() %}
Pin de seguridad que podrá utilizar para recuperar acceso a su cuenta en caso de que olvide su contraseña
                {% endcall %}
                </label>
                <input type="text" name="pin" id="pin" class="big">
            </div>
            <div class="alert card inline-block">
                <b>IMPORTANTE</b><br>
                El pin de seguridad es un pin único, te servira para recuperar<br>
                tu contraseña. Copialo y guardalo en un lugar seguro
            </div>
            
            <button class="button big active" type="submit">Crear cuenta</button>
        </form>
        
        <hr>
        
        ¿Ya tienes una cuenta?<br>
        <a class="button" href="/iniciar-sesion">Iniciar sesión</a>
    </div>
{% endblock content %}
