{% import 'functions.html' as funcs %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='main-icon.png') }}" type="image/x-icon">
    <script defer src="{{ url_for('static', filename='astar.js') }}"></script>
    <script defer src="{{ url_for('static', filename='demo.js') }}"></script>
    
    {% if config.ENVIRONMENT == 'development' %}
        <script defer src="{{ url_for('web.node_modules', filename='hyperscript.org/dist/_hyperscript.min.js.gz') }}"></script>
        <script defer src="{{ url_for('web.node_modules', filename='chance/dist/chance.min.js') }}"></script>
        <link href="/static/material-icons/material-icons.css" rel="stylesheet">
    {% else %}
        <script defer src="https://unpkg.com/hyperscript.org@0.9.11"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endif %}


    <link rel="stylesheet" href="{{ url_for('static', filename='demo.css') }}">
    <script src="{{ url_for('static', filename='main.js')}}"></script>
</head>
<body>
    <div id="game-area">
        <div id="main-hud" class="hud">
            <div class="health-indicator">
                <div><span class="material-icons">health_and_safety</span> <br> 99/100</div>
            </div>
            <div>
                <div class="clickable" _="on click call window.zoom(0.05)">
                    <span class="material-icons">add</span>
                </div>
                <div class="clickable" _="on click call window.zoom(-0.05)">
                    <span class="material-icons">remove</span>
                </div>
            </div>
            <div class='clickable'
            _="on click call #pause-menu.showModal()"
            ><span class="material-icons md-36">menu</span></div>
    
        </div>
        <div id="game-view">
            <div id="map">
                <table id="map-table" _="
                init
                    repeat 17 times index y
                        make a <tr/>
                        set current_row to it
                        put it at the end of me
                        repeat 38 times index x
                            make a <td/>
                            set current_cell to it
                            put it at the end of current_row
                            make a <div/>
                            set its @x to x
                            set its @y to y
                            put it at the end of current_cell
                        end
                    end
                end
                "></table>
                <!-- <img src="/static/res/demo_map.png"> -->
            </div>
            <div id="entities">
                <img src="/static/res/player/standing-r.png" id="hero">
            </div>
        </div>
    </div>
    <div id="messages"></div>

<!-- #region Dialogs -->

{%- call funcs.game_dialog("pause-menu", "Menú") -%}
    <div>
        <input type="checkbox" name="music" id="music" checked
        _="on change call set_audio('bgm', not my checked)">
        <label for="music">
            <span class="material-icons">music_note</span> <br>
            Musica
        </label>
    </div>
    <div>
        <input type="checkbox" name="sound" id="sound" checked
        _="on change call set_audio('sfx', not my checked)">
        <label for="sound">Sonido</label>
    </div>
    <div>
        <button type="submit" _="
        on click
            call #how-to-play.showModal()
        end
        "
        >Cómo jugar</button>
    </div>
{%- endcall -%}

{%- call funcs.game_dialog("how-to-play", "Cómo jugar") -%}
{%- endcall -%}

<!-- #endregion Dialogs -->

</body>
</html>