<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego</title>
    <script defer src="/static/astar.js"></script>
    <script defer src="/static/demo.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='demo.css') }}">
</head>
<body>
    <div id="content">
        <img src="/static/res/demo_map.png" class="" id="map" >
        <img src="/static/res/player/standing-r.png" class="char" id="hero">
    </div>
    <div id="controls">
        <div>
            <input type="checkbox" name="music" id="music" checked>
            <label for="music">Musica</label>
        </div>
        <div>
            <input type="checkbox" name="sound" id="sound" checked>
            <label for="sound">Sonido</label>
        </div>
    </div>
    <div id="messages"></div>
</body>
</html>