{% import 'functions.html' as funcs %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='main-icon.png') }}" type="image/x-icon">
    <!-- <script defer src="{{ url_for('static', filename='astar.js') }}"></script> -->
    
    {% if config.ENVIRONMENT == 'development' %}
        <!-- <script defer src="{{ url_for('web.node_modules', filename='chance/dist/chance.min.js') }}"></script> -->
        <link href="/static/material-icons/material-icons.css" rel="stylesheet">
    {% else %}
        <!-- <script defer src="https://unpkg.com/chance@1.1.11"></script> -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endif %}

    <!-- <script defer src="{{ url_for('static', filename='libs/_hyperscript+template.js') }}"></script> -->

    <script type="application/json" id="server-info">
        {{ 
        {
            'has_session' : 'user_session' in session
        } | tojson
        }}
    </script>

    <script defer src="{{ url_for('static', filename='main-compiled.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
    <script src="{{ url_for('static', filename='main.js')}}"></script>
</head>
<body>
    <div id="game-area">
        <div id="main-hud" class="hud">
            <div class="hud-left">
                <div class="indicator health-indicator">
                    <div><span class="material-icons">health_and_safety</span> <br> 
                        <span id="health-indicator-value">-/-</span></div>
                </div>
                <div class="indicator floor-indicator">
                    <div>Piso <br> <span class="floor-indicator-value">1</span></div>
                </div>
            </div>
            <div class="hud-middle">
            </div>
            <div class="hud-right">
                <div class='clickable'
                _="on click call game.handle_ui_input({log: true})"
                >
                    <span class="material-icons md-36">view_timeline</span>
                </div>
                <div class='clickable'
                _="on click call #pause-menu.showModal()"
                >
                    <span class="material-icons md-36">menu</span>
                </div>
            </div>
    
        </div>
        <div id="game-view">
            <div id="map">
                <table id="map-table"></table>
            </div>
            <div id="entities">
            </div>
        </div>
        <div id="messages" _="
        def setup()
            measure #main-hud's width
            measure #alt-hud's height
            set offset to Math.min(width, height)
            me.style.setProperty('--messages-offset', CSS.px(offset))
        end
        init
            setup()
        end
        on DOMContentLoaded or gameload or load or resize from window
            setup()
        end
        on mutation of childList
            setup()
        end
        "
        ></div>
        <div id="alt-hud" class="hud">
            <div class="hud-left">
                <div class="wait-button clickable"
                _="
                on click
                    call game.handle_ui_input({wait: true})
                end
                ">
                    <div><span class="material-icons md-36">schedule</span></div>
                </div>    
                <div class="inspect-button clickable" _="
                on click
                    call game.handle_ui_input({inspect: true})
                end
                ">
                    <div><span class="material-icons md-36">search</span></div>
                </div>    
                <div id="cancel-button" class="cancel-button clickable" _="
                on click
                    call game.handle_ui_input({cancel: true})
                end
                ">
                    <div><span class="material-icons md-36">close</span></div>
                </div>    
            </div>
            <div class="hud-middle">
            </div>
            <div class="hud-right">
                <div class="clickable"
                _="on click call game.handle_ui_input({inventory: true})"
                >
                    <span class="material-icons md-36">backpack</span>
                </div>
            </div>
    
        </div>

    </div>

<!-- #region Dialogs -->

{%- call funcs.game_dialog("pause-menu", "Menú") -%}
    <div class="flex column with-gap">
        <div class="center column with-gap" >
            <div class="clickable">
                <input type="checkbox" class="hidden" name="music" id="music" checked
                _="
                on change
                    call game.set_audio('bgm', not my checked)
                    send change to next <span/>
                end
                on storage or gameload or load from window
                    if typedLocalStorage exists
                        add @checked when not typedLocalStorage.getItem('mute-bgm')
                        send change to next <span/>
                    end
                end
                ">
                <label for="music" class="clickable">
                    <span class="material-icons" _="
                    on change
                        if #music.checked
                            set my innerText to 'music_note'
                        else
                            set my innerText to 'music_off'
                        end
                    end
                    ">music_note</span>
                    Música
                </label>
            </div>
            <div class="clickable">
                <input type="checkbox" class="hidden" name="sound" id="sound" checked
                _="
                on change
                    call game.set_audio('sfx', not my checked)
                    send change to next <span/>
                end
                on storage or gameload or load from window
                    if typedLocalStorage exists
                        add @checked when not typedLocalStorage.getItem('mute-sfx')
                        send change to next <span/>
                    end
                end
                ">
                <label for="sound" class="clickable">
                    <span class="material-icons" _="
                    on change
                        if #sound.checked
                            set my innerText to 'volume_up'
                        else
                            set my innerText to 'volume_off'
                        end
                    end
                    "
                    >volume_up</span>
                    Sonido
                </label>
            </div>
        </div>
        <div class="center with-gap">
            <div class="clickable" _="on click call game.zoom(1)">
                <span class="material-icons md-36">zoom_in</span>
            </div>
            Zoom
            <div class="clickable" _="on click call game.zoom(-1)">
                <span class="material-icons md-36">zoom_out</span>
            </div>
        </div>
        <div class='center column'>
            <button type="submit" _="
            on click
                call #how-to-play.showModal()
            end
            "
            >Cómo jugar</button>
            <button type="button" class="" _="
            init
                if server_info.has_session
                    hide
                end
            end
            on click
                go to url '/iniciar-sesion'
            end
            ">Iniciar sesión</button>
            <button type="button" class="" _="
            on click
                go to url '/'
            end
            ">Menú Principal</button>
        </div>
        <hr>
        <div class="center">
            <button type="Submit" class="block" _="
            on click
                call game.handle_ui_input({finish_run: true})
            end
            "
            >Terminar Partida</button>
        </div>
    </div>
{%- endcall -%}

{%- call funcs.game_dialog("how-to-play", "Cómo jugar") -%}
{%- endcall -%}

{%- call funcs.game_dialog("gameover-dialog", "Fin de la partida") -%}

Puntución final: <span id="gameover-score"></span> <br>
Tiempo: <span id="gameover-time"></span>

<div class="column center">
    <button id="gameover-upload-button" type="button" _="
    def setup()
        if server_info exists
            set logged_in to server_info.has_session
            add @disabled when not logged_in
            add .hidden to next <div/> when logged_in
        end
    end
    def reset()
        remove @disabled from <#gameover-dialog */>
        add .hidden to #upload-error
        add .hidden to #upload-success
    end
    init
        call setup()
    end
    on click
        add @disabled='true' to <#gameover-dialog */>
        call game.upload_score()
        set upload_result to it
        remove @disabled='true' from <#gameover-dialog */>
        add .hidden to #upload-error when upload_result exists
        if upload_result exists then
            remove .hidden from #upload-success
            add @disabled to me
        end
    end
    on close from closest <dialog/> or cancel from closest <dialog/>
        reset()
    end
    "
    >Subir puntuación</button>
    <div class="small">
        No has iniciado sesión. Ingresa o crea una cuenta para compartir tus puntuaciones.
    </div>
    <div class="small hidden" id="upload-error">
        Ha ocurrido un error al subir la puntuación, por favor, intentalo de nuevo.
    </div>
    <div class="small hidden" id="upload-success">
        La puntuación ha sido subida exitosamente
    </div>
    <hr>
    <div>
        <button type="Submit" class="block" _="
        on click
            call init_game()
        end
        "
        >Nueva Partida</button>
    </div>
</div>
{%- endcall -%}

{%- call funcs.game_dialog("stats-dialog", "Información de la partida") -%}
{%- endcall -%}

{%- call funcs.game_dialog("entityinfo-dialog", "Información") -%}
<div class="center column">
    <img id="entityinfo-dialog-image" src="/static/res/player/standing.png" class="info-icon">
    <div>
        <div class="centered" id="entityinfo-dialog-name">Enemigo</div>
        <div id="entityinfo-dialog-hp-bar" style="width: 200px" class="bar hp-bar">
            <div class="bar-fill"></div>
        </div>
    </div>
</div>

<div id="entityinfo-dialog-buttons" class="center">
    <button target-entity="" id="entityinfo-dialog-button-drop"
    _="on click call game.handle_ui_input({drop_item: @target-entity as Int})">
        Tirar
    </button>
    <button target-entity="" id="entityinfo-dialog-button-use"
    _="on click call game.handle_ui_input({use_item: @target-entity as Int})">
        Usar
    </button>
</div>

<div id="entityinfo-dialog-description">
</div>

{%- endcall -%}


{%- call funcs.game_dialog("inventory-dialog", "Inventario") -%}
<!-- <h4 class="big inventory-header">Equipado 0 / 4</h4>
<div>
</div> -->
<h4 class="big inventory-header">Inventario
    <span id="inventory-contents-indicator">0 / 20</span>
</h4>
<div id="inventory-contents">
</div>
<div>

</div>
{%- endcall -%}

{%- call funcs.game_dialog("log-dialog", "Registro de eventos") -%}
{%- endcall -%}


<!-- #endregion Dialogs -->

</body>
</html>