{% extends 'components/base.html'%}

{% block title %}Inicio{% endblock title %}

{% block content %}
    <div class="center column card">
        <h1 class="centered">RogueTech</h1>
        <img src="{{ url_for('static', filename='main-icon.png')}}"
        alt="Icono del juego: Un dibujo minimalista de un procesador blanco con trazos de colores amarillo, cyan y azul saliendo de 'este"
        class="appicon"/>
        <a class="button block active" hx-boost="false"
            href="{{ url_for('web.game') }}">
            <span class="big">Jugar</span>
            <span class="material-icons">play_arrow</span>
        </a>
        <a class="button block active hidden" _="install InstallButton">
            <span class="big">Instalar</span>
            <span class="material-icons">download</span>
        </a>
        <p>
            RogueTech es un juego RPG roguelike de temática tecnológica, donde asumes el rol de un héroe que se enfrenta a diversos enemigos en niveles únicos, generados al azar, ¡Cada partida es una aventura diferente! Podrás personalizar tu héroe con diferentes habilidades, armas y objetos que encontrarás en tu camino, y enfrentarte a enemigos variados y desafiantes. RogueTech te ofrece una experiencia de juego dinámica y divertida, donde cada partida es una aventura diferente.
        </p>
    </div>
    <h2>Características</h2>
    <ul>
        <li>Niveles generados aleatoriamente</li>
        <li>Gran variedad de oponentes</li>
        <li>Muchos objetos para usar y recolectar</li>
    </ul>
{% endblock content %}
