{% extends 'components/base.html'%}

{% from 'functions.html' import pretty_time %}

{% block title %}{% endblock title %}

{% block content %}
<div class="card">
    <span class="float-right">Fecha: {{ score.date }}</span>
    <h1>Puntuación <small>#{{ score.id }}</small></h1>
    Por: <b>{{ score.user }}</b><br>
    Semilla: <span class="mono-num">{{ score.seed }}</span> <br>
    Versión: <span class="mono-num">{{ score.version }}</span><br>
    Puntos: <span class="mono-num">{{ score.score }}</span> <br>
    Tiempo total: <span class="mono-num">{{ pretty_time(score.time) }}</span> <br>
    </div>
    <h2>Detalles</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
            {% for key, val in score.details.items()
            %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ val }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h3>Tesoros encontrados</h3>
    <ul>
        {% for t in score.treasures %}
        <li>{{ t }}</li>
        {% endfor %}
    </ul>
{% endblock content %}
