{% extends 'components/base.html'%}

{% block title %}{% endblock title %}

{% block content %}
    <h1>Puntuaciones</h1>
    <button class="button">Todos</button>
    <button class="button inactive">Siguiendo</button>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Puntuación</th>
                <th>Tiempo</th>
            </tr>
        </thead>
        <tbody> 
        {% for data in [ 
            ['marco', '02/06/2023', 43900, '2:34:23.123'],
            ['cris', '02/06/2023', 59200, '1:59:03.039'],
            ['gerardthedemon', '03/06/2023', 100300, '2:20:30.045'],
            ['marco', '04/06/2023', 500,   '0:00:46.034'],

            ['marco', '02/06/2023', 43900, '2:34:23.123'],
            ['cris', '02/06/2023', 59200, '1:59:03.039'],
            ['marco', '02/06/2023', 43900, '2:34:23.123'],
            ['cris', '02/06/2023', 59200, '1:59:03.039'],
            ['marco', '02/06/2023', 43900, '2:34:23.123'],
            ['cris', '02/06/2023', 59200, '1:59:03.039'],
            ['gerardthedemon', '03/06/2023', 100300, '2:20:30.045'],
            ['marco', '04/06/2023', 500,   '0:00:46.034'],
            ['gerardthedemon', '03/06/2023', 100300, '2:20:30.045'],
            ['marco', '04/06/2023', 500,   '0:00:46.034'],
            ['gerardthedemon', '03/06/2023', 100300, '2:20:30.045'],
            ['marco', '04/06/2023', 500,   '0:00:46.034'],
        ]
        %}
        {% set timesplit = data[3].split(".")%}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ data[0] }}</td>
                <td>{{ data[1] }}</td>
                <td class="mono-num">{{ data[2] }}</td>
                <td class="mono-num">{{ timesplit[0] }}<small>.{{ timesplit[1] }}</small></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
