{% extends 'components/base.html'%}

{% from 'functions.html' import pretty_time %}

{% block title %}Puntuación{% endblock title %}

{% block content %}
<div class="card">
    <span class="float-right">{{ '{:{date_format}}'.format(score.fecha, date_format=funcs.date_format_long) }}</span>
    <h1>Puntuación <small>#{{ score.id }}</small></h1>
    Por: <a href="/usuario?name={{score.nombre_usuario}}"><b>{{ score.nombre_usuario }}</b></a><br>
    Semilla: <span class="mono-num">{{ score.semilla }}</span> <br>
    Versión: <span class="mono-num">{{ score.version_juego }}</span><br>
    Puntos: <span class="mono-num">{{ score.puntuacion }}</span> <br>
    Tiempo total: <span class="mono-num">{{ pretty_time(score.tiempo) }}</span> <br>
    </div>
    <h2>Detalles</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
            {% for key, val in score.detalles.items()
            %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ val }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
