{% extends 'components/base.html'%}

{% block title %}{% endblock title %}

{% block content %}
    <h1 class="center">Recuperar cuenta</h1>
    <div class="center column">
        <form class="center column" method="post">
            <div class="input-block">
                <label for="nombre">Nombre de usuario:</label>
                <input type="text" name="nombre" id="nombre" class="big"
                autocomplete="username">
            </div>
            
            <div class="input-block">
                <label for="pin">Pin de seguridad:</label>
                <input type="password" name="pin" id="pin" class="big"
                autocomplete="current-password">
            </div>
            
            <div class="input-block">
                <label for="clave">Nueva contraseña:
                {% call funcs.help_icon() %}
Su contraseña debe contener al menos lo siguiente:

* Una letra minúscula
* Una letra mayúscula
* Un número
* Un símbolo
* Debe tener al menos 8 carácteres
                {% endcall %}
                </label>
                <input type="password" name="clave" id="clave" class="big"
                autocomplete="new-password">
            </div>
            
            <div class="input-block">
                <label for="claveconf">Confirmar contraseña:
                {% call funcs.help_icon() %}
Repita su contraseña
                {% endcall %}
                </label>
                <input type="password" name="claveconf" id="claveconf" class="big"
                 autocomplete="new-password">
            </div>
            
            <button class="button big active" type="submit">Recuperar cuenta</button>
        </form>
        
        <hr>
        
        ¿Ya tienes una cuenta?<br>
        <a class="button" href="/iniciar-sesion">Iniciar sesión</a>
    </div>
{% endblock content %}
