{% extends 'components/base.html'%}

{% block title %}{% endblock title %}

{% block content %}
<div class="card">
    <span class="float-right">Fecha de registro: 25/05/2023<br>Administrador</span>
    <h1>marco</h1>
    <b>0</b> Siguiendo <br>
    <b>1</b> Seguidor
    <h2>Estadísticas</h2>
    Partidas jugadas: 2 <br>
    Partidas ganadas: 1 <br>
    Porcentaje de éxito: 50% <br>
    Puntaje total: <span class="mono-num">44400</span> <br>
    Mejor puntuación: <span class="mono-num">43900</span> <br>
    Mejor tiempo: <span class="mono-num">2:34:23<small>.123</small></span> <br>
    </div>
    <h2>Puntuaciones</h2>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Puntuación</th>
                <th>Tiempo</th>
            </tr>
        </thead>
        <tbody>
        {% for data in [ 
            ['02/06/2023', 43900, '2:34:23.123'],
            ['04/06/2023', 500,   '0:00:46.034'],
        ]
        %}
        {% set timesplit = data[2].split(".")%}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ data[0] }}</td>
                <td class="mono-num">{{ data[1] }}</td>
                <td class="mono-num">{{ timesplit[0] }}<small>.{{ timesplit[1] }}</small></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
