{% extends 'components/base.html'%}

{% from 'functions.html' import pretty_time %}

{% block title %}{% endblock title %}

{% block content %}
<div class="card">
    <span class="float-right">Fecha de registro: {{ user.join_date }}<br>
        {{ user.account_type }}</span>
    <h1>{{ user.name }}</h1>
    <b>{{ user.follows }}</b> Siguiendo <br>
    <b>{{ user.followers }}</b> Seguidor
    <h2>Estadísticas</h2>
    Partidas jugadas: {{ user.runs }} <br>
    Partidas ganadas: {{ user.wins }} <br>
    Porcentaje de éxito: {{ (user.wins / user.runs * 100) | int }}% <br>
    Puntaje total: <span class="mono-num">44400</span> <br>
    Mejor puntuación: <span class="mono-num">43900</span> <br>
    Mejor tiempo: <span class="mono-num">2:34:23<small>.123</small></span> <br>
    </div>
    <h2>Puntuaciones</h2>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Puntuación</th>
                <th>Tiempo</th>
            </tr>
        </thead>
        <tbody>
        {% for data in user.scores %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ data[0] }}</td>
                <td class="mono-num">{{ (data[1] | string).rjust(user.widest_score) }}</td>
                <td class="mono-num">{{ pretty_time(data[2]) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
