{% extends 'components/base.html'%}

{% block title %}{% endblock title %}

{% block content %}
    <h1>Usuarios</h1>
    <label for="query">Buscar:</label>
    <input type="text" class="big">
    <button class="button small">Buscar</button><br><br>
    <button class="button active">Todos</button>
    <button class="button">Siguiendo</button>
    <button class="button">Seguidores</button>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
            {% for user in userlist %}
                <tr class="clickable"
                _="on click
                        go to url '/usuario?name={{ user }}'
                    ">
                    <td>{{ loop.index }}</td>
                    <td>{{ user }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
