<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title required %}{% endblock title %}</title>
    <link rel="stylesheet" href="/static/style.css">
    {% if config.ENV == 'development' %}
        <script defer src="{{ url_for('node_modules', filename='hyperscript.org/dist/_hyperscript.min.js.gz') }}"></script>
        <script defer src="{{ url_for('node_modules', filename='htmx.org/dist/htmx.min.js.gz') }}"></script>
    {% else %}
        <script defer src="https://unpkg.com/hyperscript.org@0.9.9"></script>
        <script defer src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    {% endif %}
    {% block head_add %}{% endblock head_add%}
</head>
<body hx-boost="true">
    {% include 'components/navbar.html' %}
    <main id="main">
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>