<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title required %}{% endblock title %}</title>
    <link rel="stylesheet" href="/static/style.css">
    {% if config.ENV == 'development' %}
        <script defer src="{{ url_for('node_modules', filename='hyperscript.org/dist/_hyperscript.min.js.gz') }}"></script>
    {% else %}
        <script defer src="https://unpkg.com/hyperscript.org@0.9.9"></script>
    {% endif %}
    {% block head_add %}{% endblock head_add%}
</head>
<body>
    {% include 'components/navbar.html' %}
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    {{ config }}
</body>
</html>