<nav id="navbar">
    <div id="navmenu"
        _="on click from <a/> in me or click from elsewhere
            remove .open">
        {% for link, name in [
            ('index', 'Inicio'),
            ('puntuaciones', 'Puntuaciones'),
            ('usuarios', 'Usuarios'),
        ] %}
        <a href="{{ url_for(link) }}">{{ name }}</a>
        {% if not loop.last %}
            <span class="navseparator"></span>
        {% endif %}
        {% endfor %}
    </div>
    <div>
        <div class="clickable" href="#" id="nav-toggle"
            _="
            on load
                measure #navbar's height
                set the #navmenu.style.top to height + 'px'
            end
            on click
                halt the event
                toggle .open on #navmenu
            end">
            <span class="material-icons">menu</span>
        </div>
    </div>
    <div>
    {% if session.active %}
        <span class="material-icons">person</span>
        <span>{{ session.username }}</span>
    {% else %}
        <a href="{{ url_for('login')}}">Iniciar sesión</a>
    {% endif %}
    </div>
</nav>