<nav id="navbar">
    <div id="navmenu"
        _="on click from <a/> in me or click from elsewhere
            remove .open">
        {%- set linklist = [
            ('index', 'Inicio'),
            ('game', 'Jugar'),
            ('puntuaciones', 'Puntuaciones'),
            ('usuarios', 'Usuarios'),
        ] -%}
        {%- set authlinklist = [
            ('my_profile', 'Mi perfil')
        ] -%}

        {% for link, name in linklist + ( authlinklist if session.user_session else [] ) %}
            {% set boost = link not in ['game'] %}
            <a href="{{ url_for('web.' + link) }}" hx-boost="{{ boost | lower }}">{{ name }}</a>
            {% if not loop.last %}
                <span class="navseparator"></span>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        <div class="clickable" href="#" id="nav-toggle"
            _="
            init
                measure #navbar's height
                set the #navmenu.style.top to height + 'px'
            end
            on click
                halt the event
                toggle .open on #navmenu
            end">
            <span class="material-icons">menu</span>
        </div>
    </div>
    <div>
    {% if session.user_session %}
        <a class="clickable" href="/cerrar-sesion" hx-confirm="¿Desea cerrar la sesión?">
            <span class="material-icons">person</span>
            <span>{{ session.user_session.name }}</span>
        </a>
    {% else %}
        <a href="{{ url_for('web.login')}}">Iniciar sesión</a>
    {% endif %}
    </div>
</nav>